<section class="about-company-text section-offset">
    <div class="container">
        <div class="about-company-text__content">
            <p class="about-company-text__title title-h1">Текстовый блок</p>
            <div class="about-company-text__retractable-wrapper text-block">
                <picture style="float: right;">
                    <source srcset="assets/img/img-office.jpg" type="image/webp">
                    <img src="assets/img/img-office.jpg" loading="lazy" alt="Офис">
                </picture>
                <p>Наркологическая клиника Детокс Сити - это команда высококлассных
                    специалистов с большим практическим опытом работы с людьми, страдающими различными формами
                    зависимостей, психическими расстройствами. Своим клиентам мы предлагаем услуги комплексного
                    лечения и реабилитации алкоголизма и наркомании в стационаре и на дому. Наши врачи используют
                    инновационные терапевтические методики: психокоррекцию личности, индивидуальную, групповую,
                    семейную психотерапию, фармакотерапию, для достижения положительных результатов в каждом
                    конкретном случае.</p>
                <p>Мы работаем на основании лицензии Минздрава РФ, осуществляем
                    медицинскую деятельность в строгом соответствии с законодательством страны. Пройти лечение в
                    наркологическом центре Детокс Сити можно на условиях анонимности и конфиденциальности. Гарантия
                    неразглашения персональной информации закреплено в договоре. Для терапии зависимостей в клинике
                    есть стационар с комфортными и уединенными палатами, оборудованными всеми необходимыми
                    удобствами.</p>
                <p>Если цель вашего обращения в клинику Детокс Сити - полное
                    выздоровление и восстановление, не стоит терять ни минуты. Реабилитация при алкоголизме и
                    наркозависимости требует серьезных усилий, огромных затрат времени и сил. Каждый упущенный день,
                    снижает реабилитационный потенциал, уменьшает шансы раз и навсегда забыть о патологическом
                    пристрастии, вернуться к трезвому образу жизни.</p>

                <p>Если цель вашего обращения в клинику Детокс Сити - полное выздоровление и восстановление, не стоит терять ни минуты. Реабилитация при алкоголизме и наркозависимости требует серьезных усилий, огромных затрат времени и сил. Каждый упущенный день, снижает реабилитационный потенциал, уменьшает шансы раз и навсегда забыть о патологическом пристрастии, вернуться к трезвому образу жизни. Если цель вашего обращения в клинику Детокс Сити - полное выздоровление и восстановление, не стоит терять ни минуты. Реабилитация при алкоголизме и наркозависимости требует серьезных усилий, огромных затрат времени и сил. Каждый упущенный день, снижает реабилитационный потенциал, уменьшает шансы раз и навсегда забыть о патологическом пристрастии, вернуться к трезвому образу жизни.
                </p>
                <p>Если цель вашего обращения в клинику Детокс Сити - полное выздоровление и восстановление, не стоит терять ни минуты. Реабилитация при алкоголизме и наркозависимости требует серьезных усилий, огромных затрат времени и сил. Каждый упущенный день, снижает реабилитационный потенциал, уменьшает шансы раз и навсегда забыть о патологическом пристрастии, вернуться к трезвому образу жизни. Если цель вашего обращения в клинику Детокс Сити - полное выздоровление и восстановление, не стоит терять ни минуты. Реабилитация при алкоголизме и наркозависимости требует серьезных усилий, огромных затрат времени и сил. Каждый упущенный день, снижает реабилитационный потенциал, уменьшает шансы раз и навсегда забыть о патологическом пристрастии, вернуться к трезвому образу жизни.</p>
                <p>Если цель вашего обращения в клинику Детокс Сити - полное выздоровление и восстановление, не стоит терять ни минуты. Реабилитация при алкоголизме и наркозависимости требует серьезных усилий, огромных затрат времени и сил. Каждый упущенный день, снижает реабилитационный потенциал, уменьшает шансы раз и навсегда забыть о патологическом пристрастии, вернуться к трезвому образу жизни. Если цель вашего обращения в клинику Детокс Сити - полное выздоровление и восстановление, не стоит терять ни минуты. Реабилитация при алкоголизме и наркозависимости требует серьезных усилий, огромных затрат времени и сил. Каждый упущенный день, снижает реабилитационный потенциал, уменьшает шансы раз и навсегда забыть о патологическом пристрастии, вернуться к трезвому образу жизни.</p>
                <p>Если цель вашего обращения в клинику Детокс Сити - полное выздоровление и восстановление, не стоит терять ни минуты. Реабилитация при алкоголизме и наркозависимости требует серьезных усилий, огромных затрат времени и сил. Каждый упущенный день, снижает реабилитационный потенциал, уменьшает шансы раз и навсегда забыть о патологическом пристрастии, вернуться к трезвому образу жизни. Если цель вашего обращения в клинику Детокс Сити - полное выздоровление и восстановление, не стоит терять ни минуты. Реабилитация при алкоголизме и наркозависимости требует серьезных усилий, огромных затрат времени и сил. Каждый упущенный день, снижает реабилитационный потенциал, уменьшает шансы раз и навсегда забыть о патологическом пристрастии, вернуться к трезвому образу жизни.</p>
            </div>
            <button class="about-company-text__button btn-more" type="button">
                Читать далее
            </button>
        </div>
    </div>
</section>