<section class="contacts-map-tablet section-offset">
    <div class="container">
        <div class="contacts-map-tablet__content">
            <div class="contacts-map-tablet__maps">
                <div class="contacts-map-tablet__map" id="map__container">
                    <div id="map" style="width: 100%; height: 100%;">
                        <!-- <img id="map-placeholder" src="assets/img/contacts/map.jpg" alt="Map" style="width: 100%; height: 100%; cursor: pointer; object-fit: cover;"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>