<section class="gallery section-offset">
    <div class="container">
        <div class="gallery__content">
            <h1 class="gallery__title title-h1">Фотографии нашей клиники</h1>
            <ul class="gallery__list">
                <li class="gallery__item">
                    <picture class="gallery__img">
                        <source srcset="assets/img/img-narcology-1.webp" type="image/webp">
                        <img src="assets/img/img-narcology-1.jpg" loading="lazy" alt="Фотография офиса">
                    </picture>
                </li>
                <li class="gallery__item">
                    <picture class="gallery__img">
                        <source srcset="assets/img/img-narcology-5.webp" type="image/webp">
                        <img src="assets/img/img-narcology-5.jpg" loading="lazy" alt="Фотография офиса">
                    </picture>
                </li>
                <li class="gallery__item">
                    <picture class="gallery__img">
                        <source srcset="assets/img/img-office.webp" type="image/webp">
                        <img src="assets/img/img-office.jpg" loading="lazy" alt="Фотография офиса">
                    </picture>
                </li>
                <li class="gallery__item">
                    <picture class="gallery__img">
                        <source srcset="assets/img/img-narcology-5.webp" type="image/webp">
                        <img src="assets/img/img-narcology-5.jpg" loading="lazy" alt="Фотография офиса">
                    </picture>
                </li>
                <li class="gallery__item">
                    <picture class="gallery__img">
                        <source srcset="assets/img/img-office.webp" type="image/webp">
                        <img src="assets/img/img-office.jpg" loading="lazy" alt="Фотография офиса">
                    </picture>
                </li>
                <li class="gallery__item">
                    <picture class="gallery__img">
                        <source srcset="assets/img/img-narcology-4.webp" type="image/webp">
                        <img src="assets/img/img-narcology-4.jpg" loading="lazy" alt="Фотография офиса">
                    </picture>
                </li>
                <li class="gallery__item">
                    <picture class="gallery__img">
                        <source srcset="assets/img/img-narcology-1.webp" type="image/webp">
                        <img src="assets/img/img-narcology-1.jpg" loading="lazy" alt="Фотография офиса">
                    </picture>
                </li>
                <li class="gallery__item">
                    <picture class="gallery__img">
                        <source srcset="assets/img/img-narcology-1.webp" type="image/webp">
                        <img src="assets/img/img-narcology-1.jpg" loading="lazy" alt="Фотография офиса">
                    </picture>
                </li>
                <li class="gallery__item">
                    <picture class="gallery__img">
                        <source srcset="assets/img/img-office.webp" type="image/webp">
                        <img src="assets/img/img-office.jpg" loading="lazy" alt="Фотография офиса">
                    </picture>
                </li>
                
            </ul>
        </div>
    </div>
</section>