<section class="about-treatment section-offset">
    <div class="container">
        <div class="about-treatment__swiper">
            <button class="about-treatment__swiper-button-prev swiper-button-prev" type="button"></button>
            <div class="about-treatment__swiper-wrapper swiper aboutSwiper">
                <div class="about-treatment__wrapper-slide swiper-wrapper">
                    <div class="about-treatment__swiper-slide swiper-slide">
                        <div class="about-treatment__wrapper">
                            <div class="about-treatment__left">
                                <p class="about-treatment__title title-h1">Лечение алкоголизма</p>
                                <div class="about-treatment__left-wrapper">
                                    <ul class="about-treatment__list">
                                        <li class="about-treatment__item">
                                            <span class="about-treatment__ellipse">
                                                <svg class="about-treatment__icons" width="11" height="9"
                                                    viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33331 4.5L4.08331 7.25L9.58331 1.75" stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            Работаем круглосуточно
                                        </li>
                                        <li class="about-treatment__item">
                                            <span class="about-treatment__ellipse">
                                                <svg class="about-treatment__icons" width="11" height="9"
                                                    viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33331 4.5L4.08331 7.25L9.58331 1.75" stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            Гарантия качества
                                        </li>
                                        <li class="about-treatment__item">
                                            <span class="about-treatment__ellipse">
                                                <svg class="about-treatment__icons" width="11" height="9"
                                                    viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33331 4.5L4.08331 7.25L9.58331 1.75" stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            Лицензированная клиника
                                        </li>
                                        <li class="about-treatment__item">
                                            <span class="about-treatment__ellipse">
                                                <svg class="about-treatment__icons" width="11" height="9"
                                                    viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33331 4.5L4.08331 7.25L9.58331 1.75" stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            Анонимно
                                        </li>
                                    </ul>
                                    <div class="about-treatment__buttons">
                                        <button class="about-treatment__button btn-text-green" type="button">от 3200
                                            <span class="about-treatment__text">руб.</span></button>
                                        <button class="about-treatment__button btn-orange"
                                            type="button">Записаться</button>
                                    </div>
                                </div>
                            </div>
                            <div class="about-treatment__right">
                                <div class="about-treatment__rectangle"></div>
                                <button class="about-treatment__button-right" type="button">Подробнее</button>
                                <picture class="about-treatment__img">
                                    <source srcset="assets/img/img-doctor-woman.png" type="image/webp">
                                    <img src="assets/img/img-doctor-woman.png" loading="lazy" alt="Врач">
                                </picture>
                            </div>
                        </div>
                        <div class="about-treatment__buttons-table">
                            <button class="about-treatment__button btn-text-green" type="button">от 3200
                                <span class="about-treatment__text">руб.</span></button>
                            <button class="about-treatment__button btn-orange" type="button">Записаться</button>
                        </div>
                        <button class="about-treatment__swiper-button-prev-table swiper-button-prev" type="button"></button>
                        
                        <button class="about-treatment__swiper-button-next-table swiper-button-next" type="button"></button>
                    </div>
                    <div class="about-treatment__swiper-slide swiper-slide">
                        <div class="about-treatment__wrapper">
                            <div class="about-treatment__left">
                                <h1 class="about-treatment__title title-h1">Лечение алкоголизма</h1>
                                <div class="about-treatment__left-wrapper">
                                    <ul class="about-treatment__list">
                                        <li class="about-treatment__item">
                                            <span class="about-treatment__ellipse">
                                                <svg class="about-treatment__icons" width="11" height="9"
                                                    viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33331 4.5L4.08331 7.25L9.58331 1.75" stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            Работаем круглосуточно
                                        </li>
                                        <li class="about-treatment__item">
                                            <span class="about-treatment__ellipse">
                                                <svg class="about-treatment__icons" width="11" height="9"
                                                    viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33331 4.5L4.08331 7.25L9.58331 1.75" stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            Гарантия качества
                                        </li>
                                        <li class="about-treatment__item">
                                            <span class="about-treatment__ellipse">
                                                <svg class="about-treatment__icons" width="11" height="9"
                                                    viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33331 4.5L4.08331 7.25L9.58331 1.75" stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            Лицензированная клиника
                                        </li>
                                        <li class="about-treatment__item">
                                            <span class="about-treatment__ellipse">
                                                <svg class="about-treatment__icons" width="11" height="9"
                                                    viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33331 4.5L4.08331 7.25L9.58331 1.75" stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            Анонимно
                                        </li>
                                    </ul>
                                    <div class="about-treatment__buttons">
                                        <button class="about-treatment__button btn-text-green" type="button">от 3200
                                            <span class="about-treatment__text">руб.</span></button>
                                        <button class="about-treatment__button btn-orange"
                                            type="button">Записаться</button>
                                    </div>
                                </div>
                            </div>
                            <div class="about-treatment__right">
                                <div class="about-treatment__rectangle"></div>
                                <button class="about-treatment__button-right" type="button">Подробнее</button>
                                <picture class="about-treatment__img">
                                    <source srcset="assets/img/img-doctor-woman.png" type="image/webp">
                                    <img src="assets/img/img-doctor-woman.png" loading="lazy" alt="Врач">
                                </picture>
                            </div>
                        </div>
                        <div class="about-treatment__buttons-table">
                            <button class="about-treatment__button btn-text-green" type="button">от 3200
                                <span class="about-treatment__text">руб.</span></button>
                            <button class="about-treatment__button btn-orange" type="button">Записаться</button>
                        </div>
                    </div>
                    <div class="about-treatment__swiper-slide swiper-slide">
                        <div class="about-treatment__wrapper">
                            <div class="about-treatment__left">
                                <h1 class="about-treatment__title">Лечение алкоголизма</h1>
                                <div class="about-treatment__left-wrapper">
                                    <ul class="about-treatment__list">
                                        <li class="about-treatment__item">
                                            <span class="about-treatment__ellipse">
                                                <svg class="about-treatment__icons" width="11" height="9"
                                                    viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33331 4.5L4.08331 7.25L9.58331 1.75" stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            Работаем круглосуточно
                                        </li>
                                        <li class="about-treatment__item">
                                            <span class="about-treatment__ellipse">
                                                <svg class="about-treatment__icons" width="11" height="9"
                                                    viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33331 4.5L4.08331 7.25L9.58331 1.75" stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            Гарантия качества
                                        </li>
                                        <li class="about-treatment__item">
                                            <span class="about-treatment__ellipse">
                                                <svg class="about-treatment__icons" width="11" height="9"
                                                    viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33331 4.5L4.08331 7.25L9.58331 1.75" stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            Лицензированная клиника
                                        </li>
                                        <li class="about-treatment__item">
                                            <span class="about-treatment__ellipse">
                                                <svg class="about-treatment__icons" width="11" height="9"
                                                    viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33331 4.5L4.08331 7.25L9.58331 1.75" stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            Анонимно
                                        </li>
                                    </ul>
                                    <div class="about-treatment__buttons">
                                        <button class="about-treatment__button btn-text-green" type="button">от 3200
                                            <span class="about-treatment__text">руб.</span></button>
                                        <button class="about-treatment__button btn-orange"
                                            type="button">Записаться</button>
                                    </div>
                                </div>
                            </div>
                            <div class="about-treatment__right">
                                <div class="about-treatment__rectangle"></div>
                                <button class="about-treatment__button-right" type="button">Подробнее</button>
                                <picture class="about-treatment__img">
                                    <source srcset="assets/img/img-doctor-woman.png" type="image/webp">
                                    <img src="assets/img/img-doctor-woman.png" loading="lazy" alt="Врач">
                                </picture>
                            </div>
                        </div>
                        <div class="about-treatment__buttons-table">
                            <button class="about-treatment__button btn-text-green" type="button">от 3200
                                <span class="about-treatment__text">руб.</span></button>
                            <button class="about-treatment__button btn-orange" type="button">Записаться</button>
                        </div>
                    </div>
                </div>
                <div class="about-treatment__swiper-pagination about__swiper-pagination swiper-pagination"></div>
            </div>
            <button class="about-treatment__swiper-button-next swiper-button-next" type="button"></button>
        </div>

    </div>
</section>