<section class="license section-offset-gray">
    <div class="container">
        <div class="license__swiper">
            <div class="license__wrapper">
                <p class="license__title title-h1">Лицензии и сертификаты</p>
                <div class="license__swiper swiper licenseSwiper">
                    <div class="license__wrapper-list swiper-wrapper">
                        <div class="license__item swiper-slide">
                            <div class="license__item">
                                <div class="license__wrapper-img">
                                    <a class="license__fancybox" href="assets/img/img-licensy.jpg" data-fancybox="license">
                                        <picture class="license__img">
                                            <source srcset="assets/img/img-licensy.jpg" type="image/webp">
                                            <img class="license__img-doc img-cover" src="assets/img/img-licensy.jpg" loading="lazy" alt="Лицензия">
                                        </picture>
                                    </a>
                                    <button class="license__button" type="button">
                                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M24.6875 17.25V24.6875H17.25M24.0102 24.0082L16.1875 16.1875M1.3125 8.75V1.3125H8.75M1.98984 1.99184L9.8125 9.8125M17.25 1.3125H24.6875V8.75M24.0082 1.98984L16.1875 9.8125M8.75 24.6875H1.3125V17.25M1.99184 24.0102L9.8125 16.1875"
                                                stroke="#EF8459" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="license__item swiper-slide">
                            <div class="license__item">
                                <div class="license__wrapper-img">
                                    <a class="license__fancybox" href="assets/img/img-licensy.jpg" data-fancybox="license">
                                        <picture class="license__img">
                                            <source srcset="assets/img/img-licensy.jpg" type="image/webp">
                                            <img class="license__img-doc img-cover" src="assets/img/img-licensy.jpg" loading="lazy" alt="Лицензия">
                                        </picture>
                                    </a>
                                    <button class="license__button" type="button">
                                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M24.6875 17.25V24.6875H17.25M24.0102 24.0082L16.1875 16.1875M1.3125 8.75V1.3125H8.75M1.98984 1.99184L9.8125 9.8125M17.25 1.3125H24.6875V8.75M24.0082 1.98984L16.1875 9.8125M8.75 24.6875H1.3125V17.25M1.99184 24.0102L9.8125 16.1875"
                                                stroke="#EF8459" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="license__item swiper-slide">
                            <div class="license__item">
                                <div class="license__wrapper-img">
                                    <a class="license__fancybox" href="assets/img/img-licensy.jpg" data-fancybox="license">
                                        <picture class="license__img">
                                            <source srcset="assets/img/img-licensy.jpg" type="image/webp">
                                            <img class=" license__img-doc img-cover" src="assets/img/img-licensy.jpg" loading="lazy" alt="Лицензия">
                                        </picture>
                                    </a>
                                    <button class="license__button" type="button">
                                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M24.6875 17.25V24.6875H17.25M24.0102 24.0082L16.1875 16.1875M1.3125 8.75V1.3125H8.75M1.98984 1.99184L9.8125 9.8125M17.25 1.3125H24.6875V8.75M24.0082 1.98984L16.1875 9.8125M8.75 24.6875H1.3125V17.25M1.99184 24.0102L9.8125 16.1875"
                                                stroke="#EF8459" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="license__item swiper-slide">
                            <div class="license__item">
                                <div class="license__wrapper-img">
                                    <a class="license__fancybox" href="assets/img/img-licensy.jpg" data-fancybox="license">
                                        <picture class="license__img">
                                            <source srcset="assets/img/img-licensy.jpg" type="image/webp">
                                            <img class="license__img-doc img-cover" src="assets/img/img-licensy.jpg" loading="lazy" alt="Лицензия">
                                        </picture>
                                    </a>
                                    <button class="license__button" type="button">
                                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M24.6875 17.25V24.6875H17.25M24.0102 24.0082L16.1875 16.1875M1.3125 8.75V1.3125H8.75M1.98984 1.99184L9.8125 9.8125M17.25 1.3125H24.6875V8.75M24.0082 1.98984L16.1875 9.8125M8.75 24.6875H1.3125V17.25M1.99184 24.0102L9.8125 16.1875"
                                                stroke="#EF8459" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="license__item swiper-slide">
                            <div class="license__item">
                                <div class="license__wrapper-img">
                                    <a class="license__fancybox" href="assets/img/img-licensy.jpg" data-fancybox="license">
                                        <picture class="license__img">
                                            <source srcset="assets/img/img-licensy.jpg" type="image/webp">
                                            <img class="license__img-doc img-cover" src="assets/img/img-licensy.jpg" loading="lazy" alt="Лицензия">
                                        </picture>
                                    </a>
                                    <button class="license__button" type="button">
                                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M24.6875 17.25V24.6875H17.25M24.0102 24.0082L16.1875 16.1875M1.3125 8.75V1.3125H8.75M1.98984 1.99184L9.8125 9.8125M17.25 1.3125H24.6875V8.75M24.0082 1.98984L16.1875 9.8125M8.75 24.6875H1.3125V17.25M1.99184 24.0102L9.8125 16.1875"
                                                stroke="#EF8459" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="license__item swiper-slide">
                            <div class="license__item">
                                <div class="license__wrapper-img">
                                    <a class="license__fancybox" href="assets/img/img-licensy.jpg" data-fancybox="license">
                                        <picture class="license__img">
                                            <source srcset="assets/img/img-licensy.jpg" type="image/webp">
                                            <img class="license__img-doc img-cover" src="assets/img/img-licensy.jpg" loading="lazy" alt="Лицензия">
                                        </picture>
                                    </a>
                                    <button class="license__button" type="button">
                                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M24.6875 17.25V24.6875H17.25M24.0102 24.0082L16.1875 16.1875M1.3125 8.75V1.3125H8.75M1.98984 1.99184L9.8125 9.8125M17.25 1.3125H24.6875V8.75M24.0082 1.98984L16.1875 9.8125M8.75 24.6875H1.3125V17.25M1.99184 24.0102L9.8125 16.1875"
                                                stroke="#EF8459" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="license__wrapper-swiper">
                <button class="license__swiper-button-prev swiper-button-prev" type="button"></button>
                <div class="license__swiper-pagination swiper-pagination"></div>
                <button class="license__swiper-button-next swiper-button-next" type="button"></button>
            </div>
        </div>
    </div>
</section>