<section class="price-list-price tabs">
    <div class="container">
        <div class="price-list-price__content">
            <h1 class="price-list-price__title title-h1">Цены</h1>
            <div class="price-list-price__wrapper-acardion">
                <div class="tab-content active" data-id="price-1">
                <table class="price-list-price__table">
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column-title">Наименование услуги</td>
                            <td class="price-list-price__column-title">Стоимость</td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Лечение алкоголизма на дому</td>
                            <td class="price-list-price__column">от 3 200 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Лечение алкоголизма в стационаре</td>
                            <td class="price-list-price__column">от 4 300 руб</td>
                           <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Вывод из запоя</td>
                            <td class="price-list-price__column">от 2 300 руб</td>
                           <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Капельница от похмелья</td>
                            <td class="price-list-price__column">от 1 900 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-content" data-id="price-2">
                <table class="price-list-price__table">
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column-title">Наименование услуги</td>
                            <td class="price-list-price__column-title">Стоимость</td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Лечение алкоголизма на дому</td>
                            <td class="price-list-price__column">от 3 200 руб</td>
                           <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Лечение алкоголизма в стационаре</td>
                            <td class="price-list-price__column">от 4 300 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Вывод из запоя</td>
                            <td class="price-list-price__column">от 2 300 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-content" data-id="price-3">
                <table class="price-list-price__table">
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column-title">Наименование услуги</td>
                            <td class="price-list-price__column-title">Стоимость</td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Лечение алкоголизма на дому</td>
                            <td class="price-list-price__column">от 3 200 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Лечение алкоголизма в стационаре</td>
                            <td class="price-list-price__column">от 4 300 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Вывод из запоя</td>
                            <td class="price-list-price__column">от 2 300 руб</td>
                           <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Капельница от похмелья</td>
                            <td class="price-list-price__column">от 1 900 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Капельница от похмелья</td>
                            <td class="price-list-price__column">от 1 900 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-content" data-id="price-4">
                <table class="price-list-price__table">
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column-title">Наименование услуги</td>
                            <td class="price-list-price__column-title">Стоимость</td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Лечение алкоголизма на дому</td>
                            <td class="price-list-price__column">от 3 200 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Лечение алкоголизма в стационаре</td>
                            <td class="price-list-price__column">от 4 300 руб</td>
                          <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Вывод из запоя</td>
                            <td class="price-list-price__column">от 2 300 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Капельница от похмелья</td>
                            <td class="price-list-price__column">от 1 900 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Капельница от похмелья</td>
                            <td class="price-list-price__column">от 1 900 руб</td>
                           <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Вывод из запоя</td>
                            <td class="price-list-price__column">от 2 300 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-content" data-id="price-5">
                <table class="price-list-price__table">
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column-title">Наименование услуги</td>
                            <td class="price-list-price__column-title">Стоимость</td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Лечение алкоголизма на дому</td>
                            <td class="price-list-price__column">от 3 200 руб</td>
                           <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Лечение алкоголизма в стационаре</td>
                            <td class="price-list-price__column">от 4 300 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                        <tr class="price-list-price__row">
                            <td class="price-list-price__column">Капельница от похмелья</td>
                            <td class="price-list-price__column">от 1 900 руб</td>
                            <td class="price-list-price__column"><button class="price-list-price__column-btn popup-btn" data-path="popup-change">Записаться</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>