<section class="questions-asked section-offset">
    <div class="container">
        <div class="questions-asked__content">
            <p class="questions-asked__title title-h1">Часто задаваемые вопросы</p>
            <ul class="questions-asked__list">
                <li class="questions-asked__wrapper-accordion">
                    <div class="questions-asked__item accordion">
                        <div class="questions-asked__accordion">
                            <p class="questions-asked__text">Высокий уровень вовлечения представителей целевой аудитории является?</p>
                            <button class="questions-asked__button accordion__btn-more"></button>
                        </div>
                    </div>
                    <div class="accordion__content">
                        <div class="questions-asked__wrapper">
                            <p class="questions-asked__accordion-text">Четким доказательством простого факта: высокое
                                качество позиционных исследований напрямую зависит от инновационных методов управления
                                процессами. Вот вам яркий пример современных тенденций — консультация с широким активом
                                выявляет.</p>
                        </div>
                    </div>
                </li>
                <li class="questions-asked__wrapper-accordion">
                    <div class="questions-asked__item accordion">
                        <div class="questions-asked__accordion">
                            <p class="questions-asked__text">Высокий уровень вовлечения представителей целевой аудитории является?</p>
                            <button class="questions-asked__button accordion__btn-more"></button>
                        </div>
                    </div>
                    <div class="accordion__content">
                        <div class="questions-asked__wrapper">
                            <p class="questions-asked__accordion-text">Четким доказательством простого факта: высокое
                                качество позиционных исследований напрямую зависит от инновационных методов управления
                                процессами. Вот вам яркий пример современных тенденций — консультация с широким активом
                                выявляет.</p>
                        </div>
                    </div>
                </li>
                <li class="questions-asked__wrapper-accordion">
                    <div class="questions-asked__item accordion">
                        <div class="questions-asked__accordion">
                            <p class="questions-asked__text">Высокий уровень вовлечения представителей целевой аудитории является?</p>
                            <button class="questions-asked__button accordion__btn-more"></button>
                        </div>
                    </div>
                    <div class="accordion__content">
                        <div class="questions-asked__wrapper">
                            <p class="questions-asked__accordion-text">Четким доказательством простого факта: высокое
                                качество позиционных исследований напрямую зависит от инновационных методов управления
                                процессами. Вот вам яркий пример современных тенденций — консультация с широким активом
                                выявляет.</p>
                        </div>
                    </div>
                </li>
                <li class="questions-asked__wrapper-accordion">
                    <div class="questions-asked__item accordion">
                        <div class="questions-asked__accordion">
                            <p class="questions-asked__text">Высокий уровень вовлечения представителей целевой аудитории является?</p>
                            <button class="questions-asked__button accordion__btn-more"></button>
                        </div>
                    </div>
                    <div class="accordion__content">
                        <div class="questions-asked__wrapper">
                            <p class="questions-asked__accordion-text">Четким доказательством простого факта: высокое
                                качество позиционных исследований напрямую зависит от инновационных методов управления
                                процессами. Вот вам яркий пример современных тенденций — консультация с широким активом
                                выявляет.</p>
                        </div>
                    </div>
                </li>
                <li class="questions-asked__wrapper-accordion">
                    <div class="questions-asked__item accordion">
                        <div class="questions-asked__accordion">
                            <p class="questions-asked__text">Высокий уровень вовлечения представителей целевой аудитории является?</p>
                            <button class="questions-asked__button accordion__btn-more"></button>
                        </div>
                    </div>
                    <div class="accordion__content">
                        <div class="questions-asked__wrapper">
                            <p class="questions-asked__accordion-text">Четким доказательством простого факта: высокое
                                качество позиционных исследований напрямую зависит от инновационных методов управления
                                процессами. Вот вам яркий пример современных тенденций — консультация с широким активом
                                выявляет.</p>
                        </div>
                    </div>
                </li>
                <li class="questions-asked__wrapper-accordion">
                    <div class="questions-asked__item accordion">
                        <div class="questions-asked__accordion">
                            <p class="questions-asked__text">Высокий уровень вовлечения представителей целевой аудитории является?</p>
                            <button class="questions-asked__button accordion__btn-more"></button>
                        </div>
                    </div>
                    <div class="accordion__content">
                        <div class="questions-asked__wrapper">
                            <p class="questions-asked__accordion-text">Четким доказательством простого факта: высокое
                                качество позиционных исследований напрямую зависит от инновационных методов управления
                                процессами. Вот вам яркий пример современных тенденций — консультация с широким активом
                                выявляет.</p>
                        </div>
                    </div>
                </li>
                <li class="questions-asked__wrapper-accordion">
                    <div class="questions-asked__item accordion">
                        <div class="questions-asked__accordion">
                            <p class="questions-asked__text">Высокий уровень вовлечения представителей целевой аудитории является?</p>
                            <button class="questions-asked__button accordion__btn-more"></button>
                        </div>
                    </div>
                    <div class="accordion__content">
                        <div class="questions-asked__wrapper">
                            <p class="questions-asked__accordion-text">Четким доказательством простого факта: высокое
                                качество позиционных исследований напрямую зависит от инновационных методов управления
                                процессами. Вот вам яркий пример современных тенденций — консультация с широким активом
                                выявляет.</p>
                        </div>
                    </div>
                </li>
                <li class="questions-asked__wrapper-accordion">
                    <div class="questions-asked__item accordion">
                        <div class="questions-asked__accordion">
                            <p class="questions-asked__text">Высокий уровень вовлечения представителей целевой аудитории является?</p>
                            <button class="questions-asked__button accordion__btn-more"></button>
                        </div>
                    </div>
                    <div class="accordion__content">
                        <div class="questions-asked__wrapper">
                            <p class="questions-asked__accordion-text">Четким доказательством простого факта: высокое
                                качество позиционных исследований напрямую зависит от инновационных методов управления
                                процессами. Вот вам яркий пример современных тенденций — консультация с широким активом
                                выявляет.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>